{{> header}}
{{> navbar}}

<div class="container text-center pt-5">
    <form action="">
        <div>
            <input type="email" placeholder="your email" required>
        </div>
        <div>
            <input type="password" placeholder="your password" required>
        </div>
        <button type="submit" class="mt-4">Login</button>
    </form>
</div>

{{> footer}}
    