{{> header}}
{{> navbar}}

<div class="container text-center pt-5">
    <form action="">
        <div>
            <input type="email" placeholder="Email">
        </div>
        <div>
            <input type="password" placeholder="Password">
        </div>
        <div>
            <input type="text" placeholder="Name">
        </div>
        <button type="submit" class="mt-4">Register</button>
    </form>
</div>

{{> footer}}
    